@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@700&display=swap');


.cabecerap{
    margin-bottom: 0 !important;
}

.panelnav{
    padding: 1em;
}


p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0%;
    text-align: center;
    
}