@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@700&display=swap');


.cabecerap {
    margin-bottom: 0 !important;
}

.panelnav {
    padding: 1em;
}


.p1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0%;
    text-align: center;
    font-weight: 100;


}

.p2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0%;
    text-align: center;
    font-weight: 100;


}


.fcabera {
    border-radius: 100%;
    background: rgb(255, 255, 255);
    width: 2em;
    height: 2em;
    margin: 0px auto;



}



.section-usuario {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2rem 3rem;

}

#formulario {
    width: 70%;
    margin-top: 8%;

}



#contener {
    width: 80%;



}

#imagen {

    width: 37%;
    height: 30rem;
    margin-left: 60%;
    margin-top: -45%;
    margin-bottom: 2%;



}


#boton {
    margin-left: 9%;
}

.form-group {
    margin-block-end: 2rem;
}

.input-group {
    margin-block-end: 2rem;
}
